html,body,#root,.wrap{
    width:100%;
    height:100%
}
html{
    font-size:calc(100/320*100vw);
}
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    color:#000;
    font-size: .14rem;
    box-sizing: border-box;
}
.wrap{
    display: flex;
    flex-direction: column;
}